<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/performance.css">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    

    <main>
        <section class="sectionone">
            <div class="uppart">
                <div class="upartleft">
                    <div class="upartleftupside">
                        <div class="uparleftupsidepic"></div>
                    </div>
                    <div class="upartleftdownside">
                        <div class="uparleftdownsidepic"></div>
                    </div>
                </div>
                <div class="upartright">
                    <div class="upartrightpic"></div>
                </div>
            </div>
            <div class="downpart">
                <div class="downpartleft">
                    <div class="downpartleftpic"></div>
                    <div class="downpartrightpic"></div>
                </div>
                <div class="downpartright">
                    <div class="downpartrightpic1"></div>
                    <div class="downpartrightpic2"></div>
                </div>
            </div>
            <div class="sectiononemiddle">
                <h1>Sizzling Performance Nights</h1>
                <p>Feel the heat, move your feet.</p>
                <button class="greenbutton">Contact us</button>
            </div>
        </section>
    </main>
























    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>