* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: black;
    text-decoration: none; 
    font-weight: 100;
    list-style: none;
}
a {
    text-decoration: none !important;
    color: black !important;
}
/* #region header */

header {
    padding: 20px 0px 30px 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 30px;
    justify-content: center;
    position: fixed;
    top: 0px;
    z-index: 10000;
}
nav ul {
    display: flex;
    gap: 40px;
    font-size: 14px;
}
.headerlogo {
    text-align: center;
}
.headerlogo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.headerlogo h2{
    font-size: 30px;
    letter-spacing: 5px;
}
.headerlogo h3 {
    font-size: 15px;
}
.hlogo {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
nav {
    display: flex;
    align-items: end;
    padding: 5px;
}
nav > ul > li:nth-child(1) a {
    color: rgb(3, 3, 65);
}
header li:hover {
    color: rgb(61, 61, 224);
}

/* #region burgermenu */
.bline {
    width: 35px;
    height: 3px;
    background-color: black;
}
.lines {
    flex-direction: column;
    gap: 10px;
    display: none;
    margin-top: 40px;
}
#burgermenu {
    display: none;
}
#burgermenu:checked ~ nav ul  {
    width: 80%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#burgermenu:checked ~ nav {
    width: 80% ;
    display: flex;
    height: 100%;
    position: fixed;
    right: 0;
    top: 100px;
    background-color: white;
    animation: bmenu 1s;
    z-index: 111111;
}
#burgermenu:checked + label > .lines > .bline:nth-child(1) {
    transform: rotate(45deg) translate(18px); 
    width: 45px;
}
#burgermenu:checked + label > .lines > .bline:nth-child(2) {
    visibility: hidden;
}
#burgermenu:checked + label > .lines > .bline:nth-child(3) {
    transform: rotate(-45deg) translate(18px);
    width: 45px;
}
/* #endregion burgermenu */
/* #endregion region */
/* #region button */
.bluebutton {
    padding: 15px 35px;
    color: white;
    background-color: rgb(1 38 70 / 80%);
    border: 1px solid rgb(96 94 94);
}
.bluebutton:hover {
    background-color: rgba(112, 109, 109, 0.671);
    cursor: pointer;
    animation: buttonhover 0.5s;
}
/* #endregion button */
/* #region lines */
.tallline {
    width: 1px;
    height: 130px;
    background-color: rgb(96,94,94);
}
.line {
    width: 80px;
    height: 1px;
    background-color: black;
}
/* #endregion lines */

/* #region footer */
footer {
    padding: 60px 0px;
    width: 100%;
    background-color: rgb(47,46,46);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.footeraboutus {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footericons {
    display: flex;
    gap: 10px;
}
footer i {
    font-size: 20px;
    color: white;
}
.footermain {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 50px;
}
.footeraddress {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footeremail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 280px;
}
form{ 
    display: flex;
    flex-direction: column;
}
.footerlasttext {
    display: flex;
    gap: 350px;
}

.termsandconditions {
    display: flex;
    gap: 10px;
}
.footerlasttext p {
    font-size: 12px;
    font-weight: bold;
}
.footeremail input {
    height: 30px;
    background-color: rgb(47,46,46);
    border: 1px solid rgb(160,160,159);
    outline: none;
}
footer p { 
    color: rgb(160,160,159);
}
footer h3 {
    color: rgb(160,160,159);
    font-size: 18px;
}
footer label {
    color: rgb(160,160,159);
}
footer button {
    padding: 10px;
    border: 1px solid black;
    background-color:  #a0a09f;
}
footer button:hover {
    background-color: white;
    animation: buttonhoverwhite 0.5s;
    cursor: pointer;
}
.emailcheckbox {
    display: flex;
    gap: 5px;
    align-items: center;
}
.emailcheckbox1 {
    transform: scale(1.3);
    margin-left: 3px;
}
.emailcheckbox1:checked {
    accent-color: #a0a09f;
}
.footeremail input:active {
    background-color: #a0a09f;
}
footer .tallline {
    height: 180px;
}
.footermain .line {
    display: none;
}
/* #endregion footer */








































@keyframes appear {
    0% {
        margin-bottom: 100px;
    }
    100% {
        margin-bottom: 0px;
    }
}
@keyframes buttonhoverwhite {
    0% {
        background-color: #a0a09f;
    }
    100%{
        background-color: white;
    }
}

@keyframes bmenu {
    0% {
        margin-right: -300px;
    }
    100% {
        margin-right: 0px;
    }
    
}

@keyframes buttonhover {
    0% {
        background-color: rgb(1 38 70 / 80%); ;
    }
    100% {
        background-color: rgba(112, 109, 109, 0.671);
    }
}

/* #region headerbur */
@media screen and (max-width: 900px) {
    nav  {
        display: none;
    }
    .lines {
        display: flex;
   }
    header {
        gap: 30%;
    }
    nav ul {
        font-size: 20px;
    }
    
}
/* #endregion headerbur */
/* #region footer */
@media screen and (max-width: 987px) {
   .footermain {
    grid-template-columns: auto;
   } 
   .footermain .tallline {
    display: none;
   }
   .footermain .line {
    display: flex;
    width: 280px;
    background-color: #a0a09f;
   }
   .footerlasttext {
    flex-direction: column;
    gap: 15px;
   }
    .events .tallline {
        display: none;
    }
}
/* #endregion footer */