main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../photos/84770f_cbb616c8fac84482b014ed77163961a4~mv2.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 170px;
}
.login {
    width: 370px;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgb(221, 223, 223);
    justify-content: space-evenly;
    border-radius: 5%;
    animation: appear 1s;
}
.login input {
    border: none;
    outline: none;
}
.login label {
    background-color: rgb(179, 179, 179);
    font-size: 30px;
    height: 50px;
    width: 40px;
}
.name {
    display: flex;
    align-items: center;
}
.password {
    display: flex;
}
form .name input{
    height: 50px;
    background-color: #c4c2c2;
    width: 90%;
}
form .password input {
    height: 50px;
    background-color:  #c4c2c2;
    width: 90%;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    height: 50%;
}
button {
    padding: 12px 150px;
    border: none;
    border-radius: 10px;
    background-color:  #c4c2c2;
}
.login > i {
    margin-bottom: 50px;
}