main {
    background-color: black;
    color: white ; 
}
.uppart {
    display: flex;
}
.downpart {
    display: flex;
}
.upartleft {
    width: 50%;
    height: 100%;
}
.upartright {
    width: 50%;
    display: flex;
}
.uparleftupsidepic {
    height: 253px;
    width: 192px;
    background-image: url(../photos/ins1.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-self: end;
    margin-right: 20px;
    margin-top: 10px;
    animation: picsanim 1s;
}
.uparleftdownsidepic {
    height: 140px;
    width: 140px;
    background-image: url(../photos/ins2.jpeg);
    background-size: cover;
    background-position: center;
    margin: 40px 200px 0px 50px;
    animation: picsanim 1s;
}
.upartrightpic {
    width: 230px;
    height: 192px;
    background-image: url(../photos/ins3.jpeg);
    background-size: cover;
    background-position: center;
    margin: 0px 15px 20px 200px;
    align-self: self-end;
    animation: picsanim 1s;
}
.downpartleft {
    width: 50%;
    height: 100%;
}
.downpartright {
    width: 50%;
    height: 100%;
}
.downpartleftpic {
    width: 230px;
    height: 230px;
    background-image: url(../photos/ins4.jpeg);
    background-size: cover;
    background-position: center;
    margin: 10px 0px 0px 30px;
    justify-self: center;
    animation: picsanim 1s;
}
.downpartrightpic {
    width: 140px;
    height: 140px;
    background-image: url(../photos/ins5.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-self: end;
    margin: 20px 5px 0px 0px;
    animation: picsanim 1s;
}
.downpartrightpic1 {
    width: 140px;
    height: 140px;
    background-image: url(../photos/ins6.jpeg);
    background-position: center;
    background-size: cover;
    justify-self: end;
    margin: 10px 50px 0px 0px;
    animation: picsanim 1s;
}
.downpartrightpic2 {
    width: 192px;
    height: 192px;
    background-image: url(../photos/ins7.jpeg);
    background-position: center;
    background-size: cover;
    justify-self: center;
    margin: 100px 50px;
    animation: picsanim 1s;
}
.uparleftupsidepic:hover {
    transform: scale(105%);
    cursor: pointer;
}
.downpartrightpic2:hover{
transform: scale(105%);
    cursor: pointer;
}
.downpartrightpic1:hover {
transform: scale(105%);
    cursor: pointer;
}
.downpartrightpic:hover {
transform: scale(105%);
    cursor: pointer;
}
.downpartleftpic:hover {
transform: scale(105%);
    cursor: pointer;
}
.upartrightpic:hover {
transform: scale(105%);
    cursor: pointer;
}
.uparleftdownsidepic:hover {
transform: scale(105%);
    cursor: pointer;
}
.sectiononemiddle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.sectiononemiddle p {
    color: white;
    margin-top: 20px;
}
.sectiononemiddle h1 {
    color: white;
    font-size: 60px;
}
.sectiononemiddle button {
    align-self: center;
}
.greenbutton {
    padding: 10px 35px;
    border-radius: 50px;
    border: solid black 2px;
    background-color: rgb(139, 243, 139);
}
.greenbutton:hover {
    background-color: black;
    border: solid rgb(139, 243, 139) 1px;
    color: rgb(139, 243, 139);
    animation: greenbutton 0.5s;
}
.sectionone{
    position: relative;
    display: flex;
    flex-direction: column;
}






































































































@keyframes greenbutton {
    0% {
        background-color: rgb(139, 243, 139);
    }
    100% {
        background-color: rgb(0, 0, 0);
    }
}
@keyframes picsanim {
    0% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@media screen and (max-width: 900px) {
    .upartrightpic {
        margin: 0px 1px;
        width: 185px;
        align-self: normal;
    }
    .uparleftupsidepic {
        margin: 0px 1px;
        border: 2px solid black;
    }
    .downpartrightpic1 {
        margin: 0px 1px;
        border: 2px solid black;
    }
    .downpartleftpic {
        margin: 0px 1px;
        border: 2px solid black;
        width: 192px;
    }
    .downpartrightpic2 {
        margin: 0px 1px;
        width: 170px;
        border: 2px solid black;
    }
    .uparleftdownsidepic {
        margin: 0px 1px;
        border: 2px solid black;
    }
    .downpartrightpic {
        margin: 0px 1px;
        border: 2px solid black;
    }
    
}